<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Progress Bar</h4>
                <!-- progressbar -->
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar"
                         [attr.ariaValuenow] = "porcent"
                         aria-valuenow="75"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         [style.width]="porcent+'%'">
                    </div>
                </div>
                <!-- END - progressbar -->
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary"
                                (click)="Decrement()"
                                type="button">
                            <i class="mdi mdi-minus"></i>
                        </button>
                    </span>
                    <input type="text"
                            class="form-control"
                            placeholder="{{porcent}}"/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary"
                                (click)="Increment()"
                                type="button">
                            <i class="mdi mdi-plus"></i>
                        </button>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary"
                                type="button">
                            <i class="mdi mdi-minus"></i>
                        </button>
                    </span>
                    <input type="text"
                            class="form-control"
                            placeholder="34"/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary"
                                type="button">
                            <i class="mdi mdi-plus"></i>
                        </button>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>