<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{charts.chartdoughnut.legend}}</h4>
                <app-charts
                    [ChartLabels]="charts.chartdoughnut.labels"
                    [ChartData]="charts.chartdoughnut.data"
                    [ChartType]="charts.chartdoughnut.type">
                </app-charts>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{charts.chartPie.legend}}</h4>
                <app-charts
                    [ChartLabels]="charts.chartPie.labels"
                    [ChartData]="charts.chartPie.data"
                    [ChartType]="charts.chartPie.type">
                </app-charts>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{charts.chartPolarArea.legend}}</h4>
                <app-charts
                    [ChartLabels]="charts.chartPolarArea.labels"
                    [ChartData]="charts.chartPolarArea.data"
                    [ChartType]="charts.chartPolarArea.type">
                </app-charts>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{charts.chartFinal.legend}}</h4>
                <app-charts
                    [ChartLabels]="charts.chartFinal.labels"
                    [ChartData]="charts.chartFinal.data"
                    [ChartType]="charts.chartFinal.type">
                </app-charts>
            </div>
        </div>
    </div>
</div>