<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <!-- forms -->
            <form ngNativeValidate [formGroup]="registerForm" (ngSubmit)="saveUser()" class="form-horizontal form-material" id="loginform" action="index.html">
                <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a>
                <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input formControlName="firstName" name="firstName" class="form-control" type="text" placeholder="FirstName" required>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="lastName" name="lastName" class="form-control" type="text" placeholder="LastName" required>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="email" name="email" class="form-control" type="email" placeholder="Email" required>
                    </div>
                </div>
                
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="password" name="password" class="form-control" type="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input formControlName="confirmPassword" name="confirmPassword" class="form-control" type="password" placeholder="Confirm Password" required>
                    </div>
                </div>
                <!-- samePassword viens de ntre Valodator -->
                <!-- pristine, si le champs a ete touché -->
                <div class="form-group" *ngIf="registerForm.errors?.samePassword && !registerForm.pristine">
                    <div class="col-xs-12">
                        <div class="alert alert-danger" role="alert">
                            Password don't match.
                          </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input formControlName="conditions" name="conditions" id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign Up</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>Already have an account? <a href="pages-login-2.html" class="text-info m-l-5"><b>Sign In</b></a></p>
                    </div>
                </div>
            </form>
            <!-- End - forms -->
        </div>
    </div>
</section>